h1{
    font-size:210%;
}
h2{
    font: size 200%;
}
.newupload{
    text-align: center;
}
h3{
    display: block;
text-align: center;
text-decoration: » none;
margin: 0 auto;
padding: • 0.8rem 3rem;
font-weight: bold; font-size: 15px;
border: » 2px solid _#17206D;
background: »
• #17206D;
color: ■#fff;
border-radius: • 100vh; transition: » 0.55; font-size: 50%;
}

.what{
    text-align: center;
    width: 360px;
  background-color: rgb(255, 255, 255);
  margin: auto
}